
/* About */
.about__container{
    margin-top: 30px;
    padding: 80px var(--padding-bigger) var(--padding);
    display: grid;
    height: 220vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2.2fr 1.7fr 2.7fr 3.3fr; 
    grid-gap: 0.6rem;
}


#tree__main{
    width: 100%;
}

#baking__main{
    width: 100%;
}

#baking__main{
    height: 100%;
    object-fit: cover;
}

#photography__main, #travel__main, #workout__main{
    height: 100%;
}

.about__container img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}




/* putting on a grid */
#eat{
    grid-column: 1/6;
    grid-row: 1/2;
    position: relative;

}

#tree{
    grid-column: 6/13;
    grid-row: 1/3;
    position: relative;
}

#stollen{
    grid-column: 1/6;
    grid-row: 2/4;
    position: relative;
}

#swingdance{
    grid-column: 6/13;
    grid-row: 3/4;
    position: relative;
}

#photography{
    grid-column: 1/5;
    grid-row: 4/5;
    position: relative;
}

#travel{
    grid-column: 5/9;
    grid-row: 4/5;
    position: relative;
}

#workout{
    grid-column: 9/13;
    grid-row: 4/5;
    position: relative;
}

/* Card layout */

.info:hover{
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    box-sizing: border-box;
    box-shadow: 0 6px 10px rgb(0 0 0 / 20%);
    display: block;
    font-family:'Noto Sans KR', sans-serif;
    color: white;
    font-weight: 300;
    opacity: 0;
}

.info__when{
    padding: 60px 60px 2px;
}


.info__title{
    padding: 0px 57px;
    line-height: 60px;
    font-size: var(--font-large);
}

.info__text{
    padding: 35% 60px 60px;
    line-height: 1.3em;
}

.info__text span{
    text-decoration: line-through;
}

/* Make the grid responsive */
@media only screen and (max-width: 550px){
    .about__container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 4px;
    }

    .about__container img{
        object-fit: cover;
    }
    
    #eat{
        grid-row: 1/2;
    
    }
    
    #tree{
       grid-row: 2/3;
    }
    
    #stollen{
        grid-row: 3/4;

    }
    
    #swingdance{
        grid-row: 4/5
    }
    
    #photography{
        grid-row: 5/6;
    }
    
    #travel{
        grid-row: 6/7;
    }
    
    #workout{
        grid-row: 7/8;
    }




}

