@import "reset.css";

@import "navbar.css";
@import "text.css";
@import "about.css";
@import "contact.css";
@import "main.css";


/* Global */
:root {
    /* Color */
    --color-light-pink: #FFEDEC;
    --color-dark-pink: #E2D6D6;
    --color-black: #000000;
    --color-white: white;
    --color-mint: #6AA4A3;
    --color-dark-brown: rgba(86,37,35,1);
    --color-light-beige: #F8F8F8;
    --color-dark-beige: #A19991;;
    
    /* Font size */
    --font-xx-large:72px;
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 22px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 500;
    --weight-regular: 400;

    /* padding*/
    --padding: 40px;
    --padding-bigger: 130px;
}

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins','Roboto', sans-serif;
    cursor: default;
    background-color: var(--color-dark-beige);
    height: 360vh;

}

button{
    background-color: transparent;
    cursor: pointer;
    border:none;
    outline: none;
}

img{
    width: 630px;
    height: auto;
}



@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes disappear {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}




/* For below 768px screen width */
@media screen and (max-width: 768px) {
    /* navbar */
    .navbar__toggle-btn{
        display: block;

    }
    #navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__menu{
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    /* quote */
    .quote__container{
        top : 60px;
        left: 40px;
        animation: appear 1s ease-in;
    }

    .eyebrow{
        font-size: var(--font-small);
    }

    .quote{
        font-size: var(--font-medium);
    }

    /* text */
    #about__text{
        margin-top: 80px;
    }

    #about__text span{
        position: static;
        letter-spacing: 0;
        text-align: center;
    }

    .about__text-big{
        font-size: 80px;
    }

   #and.about__text-little{
       font-size: 30px;
   }

   #about__text p{
       padding-top: 0px;
       margin-top: 50px;
       font-size: 30px;
   }

   /* about pictures container */
   .about__container{
       margin-top: 0;
   }
   
    .about__container{
        padding: var(--padding);
        display: grid;
        grid-template-columns: 100% 1fr;
        grid-template-rows: 1.7fr 1.7fr 2.0fr 1.8fr 1.6fr 1.5fr 1.7fr;
        grid-gap: 0.6rem;   
    }
    
    #eat{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    #eat img{
        object-position: top;
    }

    
    #tree{
       grid-row: 2/3;
       grid-column: 1/2;
    }
    
    #stollen{
        grid-row: 3/4;
        grid-column: 1/2;
    }
    
    #swingdance{
        grid-row: 4/5;
        grid-column: 1/2;
    }
    
    #photography{
        grid-row: 5/6;
        grid-column: 1/2;
    }
    
    #travel{
        grid-row: 6/7;
        grid-column: 1/2;
    }
    #travel img{
        object-position: 50% 80%;
    }
    
    #workout{
        grid-row: 7/8;
        grid-column: 1/2;
    }
    #workout img{
        object-position: 50% 30%;
    }

    .quote__container{
        top: 280px;
    }
    

    .info__when{
        padding: 40px 40px 2px;
    }
    
    
    .info__title{
        padding: 10px 40px;
        line-height: 40px;
        font-size: 36px;
    }
    
    .info__text{
        padding: 10px 40px;
        line-height: 1.3em;
        font-size: var(--font-micro);
    }
    
    #eat .info__text, #swingdance .info__text{
        padding: 0px 40px;

    }
}