@import "reset.css";

@import "navbar.css";
@import "home.css";

/* Global */
:root {
    /* Color */
    --color-light-pink: #FFEDEC;
    --color-dark-pink: #E2D6D6;
    --color-black: #000000;
    --color-white: white;
    --color-mint: #6AA4A3;
    --color-dark-brown: rgba(86,37,35,1);
    
    /* Font size */
    --font-xx-large:72px;
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 22px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 500;
    --weight-regular: 400;

    /* padding*/
    --padding: 40px;
}

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins','Roboto', sans-serif;
    cursor: default;

}

button{
    background-color: transparent;
    cursor: pointer;
    border:none;
    outline: none;
}

