@import "reset.css";

@import "navbar.css";

/* Global */
:root {
    /* Color */
    --color-light-pink: #FFEDEC;
    --color-dark-pink: #E2D6D6;
    --color-black: #000000;
    --color-white: white;
    --color-mint: #6AA4A3;
    --color-dark-brown: rgba(86,37,35,1);
    
    /* Font size */
    --font-xx-large:72px;
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 22px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 500;
    --weight-regular: 400;

    /* padding*/
    --padding: 40px;
}

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    cursor: default;

}

button{
    background-color: transparent;
    cursor: pointer;
    border:none;
    outline: none;
}


/* Home */

#home{
    padding: 0px, var(--padding);
    background: rgb(86,37,35);
    background: linear-gradient(180deg, rgba(86,37,35,1) 0%, rgba(104,47,45,1) 49%, rgba(90,37,35,1) 100%);
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.home__left{
    margin-top: 150px;
    width: 50%;
    padding: 90px 0px 0px var(--padding);

}

.home__title{
    color: var(--color-white);
    font-size: var(--font-xx-large);
    font-weight: 500;
}

.home__right{
    width: 763px;
    height: 496px;
    background-color: var(--color-light-pink);
    display: relative;
    top: 200px;
}

.home__right img{
    max-width: 90%;
    display: absolute;
    top: 16px;
    left: 35px;
}


