/* Things that make me happy */
#about__text{
    background-color: var(--color-dark-beige);
    position: relative;
    height: 300px;
}


#about__text span{
    display: block;
}

.about__text-big{
    color: white;
    font-size: 10vw;
    font-weight: 500;
    text-transform: uppercase;
    margin: auto;
    position: absolute; 
    letter-spacing: -5px;
}

#happiness{
    top: -82px;
    left: 250px;
}


/* keyframes for happiness */
@keyframes slide-in-from-left-to-right{
    from{
        left: 150px;
        opacity: 0;
    }
    to{
        left: 250px;
        opacity: 1;
    }
}
@keyframes slide-out-from-right-to-left{
    from{
        left: 250px;
        opacity: 1;
    }
    to{
        left: 150px;
        opacity: 0;
    }
}

#excitement{
    top: 60px;
    right: 250px;
}

/* keyfrmaes for happy */
@keyframes slide-in-from-right-to-left{
    from{
        right: 150px;
        opacity: 0;
    }
    to{
        right: 250px;
        opacity: 1;
    }
}
@keyframes slide-out-from-left-to-right{
    from{
        right: 250px;
        opacity: 1;
    }
    to{
        right: 150px;
        opacity: 0;
    }
}


.about__text-little{
    color: white;
    font-size: 2vw;
    position: absolute;
}

#indulge{
    top: -100px;
    left: 260px;
}

#and{
    top: 23px;
    right: 475px;
    font-size: 2.5vw;
}

/* subtext */

#about__text_subtext{
    padding: 300px var(--padding);
    background-color: var(--color-dark-beige);
    color: white;
    height: auto;
}

#about__text_subtext p{
    margin: 0 20%;
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    line-height: 1.3em;
    display: block;
    text-align: center;
}



